<div class="card">
    <div class="col-lg-12">
        <h2 class="mt-1">Top Matches</h2>
    </div>
</div>
<div class="col-lg-12 ">
    <div class="card " *ngFor="let relatedProduct of relatedProducts">
        <div class="row">
            <div class="col-md-4 col-lg-4 profile-latest-img mb-3">
                <a href="javascript:void(0)">
                    <img [src]="relatedProduct.image" class="img-fluid rounded mx-2 mx-lg-5  mt-2 rounded-circle " alt="avatar img" />
                </a>
            </div>
            <div class="col-lg-8 col-md-8 mt-lg-3 col-sm-12">
                <div class="row  mx-1 mb-2">
                    <div class="col-lg-12 col-md-12">
                        <h4 class="text-truncate mx-0  "><b>{{ relatedProduct.name }}</b>,</h4>
                        <small class=" mx-0"> {{ relatedProduct.MatrimonyId }},</small><br>
                        <small class=" mx-0"> {{ relatedProduct.age }},</small><br>
                        <small class="  mx-0"> {{ relatedProduct.work }}.</small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex mt-1  align-items-center">
                        <i data-feather="message-square" class="text-success"></i>
                        <span style="margin-left: 2%;">Chat Now</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex mt-1 align-items-center">
                        <i data-feather="eye-off" class="text-danger"></i>
                        <span style="margin-left: 2%;"> Don't show</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex mt-1 align-items-center">
                        <i data-feather="star" class="text-warning"></i>
                        <span style="margin-left: 2%;">Shortlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>