<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div id="user-profile">
      <!-- profile header -->
      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <img class="card-img-top" [src]="data.profileData.header.coverImg" alt="User Profile Image" />
            <!--/ profile cover photo -->

            <div class="position-relative">
              <!-- profile picture -->
              <div class="profile-img-container d-flex align-items-center">
                <div class="profile-img">
                  <img [src]="data.profileData.header.avatar" class="rounded img-fluid" alt="Card image" />
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2 class="text-white">{{ data.profileData.header.username }}</h2>
                  <p class="text-white">{{ data.profileData.header.designation }}</p>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div class="profile-header-nav">
              <!-- navbar -->
              <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                <button
                  class="btn btn-icon navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  (click)="toggleMenu = !toggleMenu"
                  rippleEffect
                >
                  <i data-feather="align-justify" class="font-medium-5"></i>
                </button>

                <!-- collapse  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleMenu">
                  <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                    <ul class="nav nav-pills mb-0">
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold active" href="javascript:void(0)">
                          <span class="d-none d-md-block">Feed</span>
                          <i data-feather="rss" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                          <span class="d-none d-md-block">About</span>
                          <i data-feather="info" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                          <span class="d-none d-md-block">Photos</span>
                          <i data-feather="image" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                          <span class="d-none d-md-block">Friends</span>
                          <i data-feather="users" class="d-block d-md-none"></i>
                        </a>
                      </li>
                    </ul>
                    <!-- edit button -->
                    <button class="btn btn-primary" rippleEffect>
                      <i data-feather="edit" class="d-block d-md-none"></i>
                      <span class="font-weight-bold d-none d-md-block">Edit</span>
                    </button>
                  </div>
                </div>
                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
          </div>
        </div>
      </div>
      <!--/ profile header -->

      <!-- profile info section -->
      <section id="profile-info">
        <div class="row">
          <!-- left profile info section -->
          <div class="col-lg-3 col-12 order-2 order-lg-1">
            <!-- about -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-75">About</h5>
                <p class="card-text">
                  {{ data.profileData.userAbout.about }}
                </p>
                <div class="mt-2">
                  <h5 class="mb-75">Joined:</h5>
                  <p class="card-text">{{ data.profileData.userAbout.joined }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Lives:</h5>
                  <p class="card-text">{{ data.profileData.userAbout.lives }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Email:</h5>
                  <p class="card-text">{{ data.profileData.userAbout.email }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-50">Website:</h5>
                  <p class="card-text mb-0">{{ data.profileData.userAbout.website }}</p>
                </div>
              </div>
            </div>
            <!--/ about -->

            <!-- suggestion pages -->
           
            <!--/ suggestion pages -->

            <!-- twitter feed card -->
            
            <!--/ twitter feed card -->
          </div>
          <!--/ left profile info section -->

          <!-- center profile info section -->
          <!-- <div class="col-lg-6 col-12 order-1 order-lg-2">
            <div class="card">
                <div class="col-md-6 col-lg-12">
                    <h4 class="card-title mt-5">Register</h4>
                    <div class="card-body">
                      <form class="form form-vertical">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="first-name-icon">First Name</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input
                                  type="text"
                                  id="first-name-icon"
                                  class="form-control"
                                  name="fname-icon"
                                  placeholder="First Name"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="first-name-icon">Last Name</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input
                                  type="text"
                                  id="first-name-icon"
                                  class="form-control"
                                  name="fname-icon"
                                  placeholder="Last Name"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="first-name-icon">Date of Birth</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                  </span>
                                </div>
                                <input
                                  type="date"
                                  id="first-name-icon"
                                  class="form-control"
                                  name="fname-icon"
                                  placeholder="Last Name"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="first-name-icon">Marital Status</label>
                              <div class="input-group input-group-merge">
                                  <select class="form-control" id="basicSelect">
                                    <option>Select status</option>
                                    <option>Single</option>
                                    <option>Married</option>
                                    <option>Diworce</option>
                                    <option>Awaiting Diworce</option>
                                  </select>
                              
                              </div>
                            </div>
                          </div>
                         
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="first-name-icon">I am Looking For</label>
                              <div class="input-group input-group-merge">
                              
                                <div class="form-check form-check-inline">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio1"
                                    value="option1"/>
                                  <label class="form-check-label" for="inlineRadio1">Bride</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio1"
                                    value="option1"/>
                                  <label class="form-check-label" for="inlineRadio1">Groom</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="contact-info-icon">Mobile</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
                                </div>
                                <input
                                  type="number"
                                  id="contact-info-icon"
                                  class="form-control"
                                  name="contact-icon"
                                  placeholder="Mobile"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="email-id-icon">Email</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input
                                  type="email"
                                  id="email-id-icon"
                                  class="form-control"
                                  name="email-id-icon"
                                  placeholder="Email"
                                />
                              </div>
                            </div>
                          </div>
                         
                          <div class="col-12">
                            <div class="form-group">
                              <label for="password-icon">Password</label>
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                                </div>
                                <input
                                  type="password"
                                  id="password-icon"
                                  class="form-control"
                                  name="contact-icon"
                                  placeholder="Password"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4" />
                                <label class="custom-control-label" for="customCheck4">Remember me</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
                            <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div> -->
                

                <!--/ comments -->

                <!-- comment box -->
              
                <!--/ comment box -->
              
          <!-- </div> -->
          <!--/ center profile info section -->

          <!-- right profile info section -->
          <div class="col-lg-3 col-12 order-3">
            <!-- latest profile pictures -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-0">Latest Photos</h5>
                <div class="row">
                  <div
                    class="col-md-4 col-6 profile-latest-img"
                    *ngFor="let latestPhotosRef of data.profileData.latestPhotos"
                  >
                    <a href="javascript:void(0)">
                      <img [src]="latestPhotosRef.img" class="img-fluid rounded" alt="avatar img" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/ latest profile pictures -->

            <!-- suggestion -->
            
            <!--/ suggestion -->

            <!-- polls card -->
         
            <!--/ polls card -->
          </div>
          <!--/ right profile info section -->
        </div>

        <!-- reload button -->
        <!-- <div class="row">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-sm btn-primary block-element border-0 mb-1"
              rippleEffect
              (click)="loadMore()"
            >
              <span
                role="status"
                aria-hidden="true"
                [class.spinner-border]="loadMoreRef"
                class="spinner-border-sm"
              ></span>
              Load More
            </button>
          </div>
        </div> -->
        <!--/ reload button -->
      </section>
      <!--/ profile info section -->
    </div>
  </div>
</div>
