.cards{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.428rem;
}

.card-container {
	align-items: center;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, 312px);
	justify-content:space-between;
}

body {
	font-family: sans-serif;
}

.card {
	background-color: white;
	border-radius: 5px;
	padding: 24px 0 16px;
	text-align: center;
}


.img-fluid {
    max-width: 43%;
    height: auto;
}
