.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(51, 20, 95) !important;
}

  @import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}

.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}
