@import '@core/scss/core.scss';
@import './assets/scss/styles';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
    font-family: 'Poppins', sans-serif;
  }
  .material-icons {
    font-family: 'Material Icons' !important;
  }
  
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited {
    background-color: rgb(51, 20, 95) !important;
  }
  
  .headerlink {
    text-decoration: none;
    color: rgb(0, 0, 139);
  }
  
  .headercard {
    border: none;
    border-radius: 10px;
  }
  
  .headtextcolor {
    color: rgb(87, 42, 159);
  }
  
  .group {
    position: relative;
    margin-bottom: 35px;
  }
  
  .inputMaterial {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(87, 42, 159);
  }
  
  .inputMaterial:focus {
    outline: none;
    border-bottom: 1px solid blue;
  }
  
  .inputlabel {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 7px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    color: rgb(87, 42, 159);
  }
  
  .inputMaterial:focus~label,
  .inputMaterial:valid~label {
    top: -10px;
    font-size: 10px;
    color: rgb(87, 42, 159);
  }
  
  .error {
    color: red;
    font-size: x-small;
  }
  
  .star {
    color: red;
  
  }
  
  .ng-touched.ng-invalid-required {
    border-color: red;
  }
  
  .data-table {
    width: 97%;
    margin: 20px auto;
  }
  :host {
    ::ng-deep {
      .mdc-data-table__header-cell {
        text-align: center;
      }
  
      .mdc-data-table__cell {
        text-align: center;
      }
    }
  }
  